/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** GENERAL **/
body{
    background-color: #ffc83d;
    background-image: linear-gradient(47deg, #ffc83d, #ffd38c);
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: normal;
    font-weight: 400;
    color: #333333;
}

div{
    width: 100%;
}

h1 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin: 10px 0;
}

h2 {
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 1.4;
    font-weight: bold;
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin: 10px 0;
}

h3 {
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin: 10px 0;
}

a, a:link {
    color: #222222;
}

a:hover, a:active {
    background-color: #fd3813;
    color: #fdfef8;
    text-decoration: none;
}

pre {
    font-family: monospace;
    font-size: 16px;
}

/** HEADER **/

.header {
    display: block;
    width: 100%;
    min-height: 10vh;
    box-sizing: border-box;
    padding: 20px 10% 0 10%;
}

/** MAIN **/

.main {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 70vh;
    margin: 0 10%;
    padding: 20px 0;
}
form{
    margin: 10px 0;
}
label{
    margin-bottom: 10px;
}
input[type="text"]{
    border: 0px #ffc83d solid;
}

input[type="text"]:focus{
    border: 1px #fd3813 solid;
    padding: 4px;
}
input[type="submit"]{
    background: #222222;
    color: #fdfef8;
    border: 0px solid #222222;
    border-radius: 0;
    box-shadow: none;
    text-transform: uppercase;
}
input[type="submit"]:hover{
    background: #fd3813;
    color: #fdfef8;
    border: 1px solid #fd3813;
    border-radius: 0;
    box-shadow: none;
    text-transform: uppercase;
}

.inputDiv{
    display: flex;
    padding-top: 10px;
}
.inputedData{
    display: inline-flex;
    margin-right: 20px;
    margin-bottom: 10px;
}
#inputedHex {
    width: 30vw;
}
#inputedData{
    width: 70vw;
    margin-left: 20px;
    padding: 10px;
}

.loader {
    display: none;
    position: relative;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    border: 16px solid #f2f2f2; /* Light grey */
    border-top: 16px solid #fd3813; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#outputDiv {
    display: none;
}

#outputedData{
    width: 65vw;
    margin: 10px 0;
    padding: 20px;
}

.outputedData {
    padding: 10px;
}

/** FOOTER **/

.footer {
    display: relative;
    left:0;
    bottom: 0;
    width: 100%;
    min-height: 10vh;
    box-sizing: border-box;
    padding: 20px 10%;
    background-color: #333333;
    background-image: linear-gradient(47deg, #333333, #222222);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.3;
    font-weight: lighter;
    font-weight: 300;
    color: #fdfef8;
}
.footer a {
    color: #ffc83d;
}

/** MEDIA QUERIES **/

@media (min-width: 376px) {
    .main {
        min-height: 65vh;
        margin: 0 20%;
    }

    h1 {
        font-size: 44px;
    }
    
    h2 {
        font-size: 28px;
    }

    .footer {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
   }
}
